<!DOCTYPE html>
<html lang="es">
<!--head-->
<%- include ("./partials/head") %>
<body>
    <div class="layout">

        <!--MENU-->
        <section class="layout__menu">

            <!--header-->
            <%- include ("./partials/header") %>
            
             <!--SLIDER AUTOMATICO-->
             <div class="layout__marquee">

                <div class="marquee__container">

                    <ul class="marquee__list">

                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Transformación masculina -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link-w">- Corte de cabello con precisión -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Estilo sin igual -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Transformación masculina -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link-w">- Corte de cabello con precisión -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Estilo sin igual -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Transformación masculina -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link-w">- Corte de cabello con precisión -</a>
                            </h4>
                        </li>
                        <li class="marquee__item">
                            <h4 class="marquee__title">
                                <a href="#" class="marquee__link">- Estilo sin igual -</a>
                            </h4>
                        </li>
                    </ul>

                </div>

            </div>

        </section>

        <!--PRODUCTOS-->

        <section class="layout__productsDetail">

            <header class="products__header">

                <h2 class="products-header__title">detalles productos</h2>
                <div class="separador"></div>

            </header>

            <div class="products__product">

                <div class="product__category-container">

                    <h3 class="product__category-title">Categorías</h3>

                    <ul class="product__list" id="categoryList">
                        <!-- Aquí se cargarán las categorías dinámicamente -->
                        <li class="product__item"><a href="#" class="product__link" >shampoos</a></li>

                        <li class="product__item"><a href="#" class="product__link" >ceras</a></li>

                        <li class="product__item"><a href="#" class="product__link" >fragancias</a></li>
                        
                    </ul>
                    
                </div>
                
                <div class="product__stocks-container" id="products">
                    <!-- hasta class="product__stocks-container" incliuido use el mismo recurso que el products.HTML -->
                    <div class="productsDetail__conteiner">

                        <div class="productsDetail__images">

                            <img class="productsDetail__img" src="/assets/img/<%= producto.fotosProductos %>" alt="Producto 1">
                            <img class="productsDetail__img" src="/assets/img/<%= producto.fotosProductos %>"alt="Producto 2">
                            <img class="productsDetail__img" src="/assets/img/<%= producto.fotosProductos %>"alt="Producto 3">

                        </div>

                        <div class="productsDetail__descriptions">

                            <h3 class="productsDetail__title"><%= producto.nombre %></h3>

                            <p class="productsDetail__date"><%= producto.descripcion %></p>
                            <p class="productsDetail__stocks">stocks: <%=producto.stocks %></p>
                            <p class="productsDetail__price">Precio: $<%= producto.precio %></p>

                            <button class="productsDetail__btn">Añadir al Carrito</button>

                        </div>

                      </div>
                  
                </div>

            </div> 
                
        </section>

        <!--FOOTER-->

        <%- include ("./partials/footer") %>

    </div>
    <script src="/js/galeria.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/marquee.js"></script>
</body>
</html>